/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
public/playlist_images/*.*
/public/playlist_images/*.*
public/news_feeds_images/*.*
/public/news_feeds_images/*.*
/public/member_images/*.*
/public/previous_church_images/*.*
/public/donation_report_images/*.*
/public/prayer_request_images/*.*